.img-sizer-front{
    margin-top: 20px;
}
*{
    font-family: sans-serif;
}
a:hover{
    border-bottom: none;
}
.fa-search{
    font-size: 1.5em;
    padding: 10px;
    line-height: 2;
}
.fa-star, .fa-shopping-cart{
    padding: 14px 10px!important;
}
.bg-header-top a{
    line-height: 1.8!important;
}
.bg-header-bottom .bg-secondary{
    background: #E7E7E7!important;
}
body{
  background: #F7F7F7;
}

.shop-banner{
    border-bottom: 1px solid #E7E7E7;
}
.container-fluid{
    position: relative;
}
/*FOUR HOUSES*/
.four-houses{
    padding: 30px 0;
}
.four-houses a{
    border-radius: 100%;
}
.four-houses img{
    width: 150px;
    position: absolute;
    z-index: 9;
}
.four-houses-logo{
    position: relative;
    background: #F7F7F7;
    width: 300px;
    border-radius: 100%;
    height: 300px;
    border: 5px solid #D2D2D2;
}
.four-houses .four-houses-top{
    position: absolute;
    top: 0px;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.four-houses .four-houses-bottom{
    position: absolute;
    bottom: 0px;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
}
.four-houses .dragon .four-houses-top{
    background: url('../img/db_fire_1_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.four-houses .dragon .four-houses-bottom{
    background: url('../img/db_fire_small_crop_v2.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.four-houses .raven .four-houses-top{
    background: url('../img/rave_2_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.four-houses .raven .four-houses-bottom{
    background: url('../img/rave_1_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.four-houses .serpent .four-houses-bottom{
    background: url('../img/script_serpents_under_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.four-houses .viking .four-houses-bottom{
    background: url('../img/viking_berg_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.center{
    margin-left: 25%;
    margin-top: 20%;
}

.grayIcons{
    color: gray;
    padding: 5px;
}


.login{
    color: black;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    padding: 16px 15px;
    line-height: 100%;
}

.register{
    color: black;
    border-right: 1px solid #D6D6D6;
    padding: 16px 15px;
    line-height: 100%;
}

.blr{
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    padding: 10px;
}

.br{
    border-right: 1px solid #D6D6D6;
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link {
    padding: 20px;
    color: #006985;
    font-size: 1.5em;
}

.four-houses-container{
    border-bottom: 1px solid #E7E7E7;
}

.newProducts{
    font-size: 2em;
    color: #006985;
    border-bottom: 2px solid #006985;
}
.seeMore{
    font-size: 2em;
    color: #CFA950;
    border-bottom: 1px solid #CFA950;
}
.product div img{
    max-height: 300px;
    height: 100%;
}
.headRoom{
    margin-top: 15px;
}

.container-fluid{
    padding: 0;
}

.row{
    margin: 0;
}

.biggy{
    width: 100%;
}

.selectContainer{
    margin-top: 55px;
}

.menuList{
    margin-top: 55px;
}
.newProducts, .seeMore{
    padding: 0!important;
    font-size: 2.5em;
    border: none;
}
.new-products img{
    background: none!important;
    padding: 15px;
}
.new-products .text-dark{
    color: #666!important;
    padding: 0 20px;
}
.shop .col-md-4{
    margin: 15px 0;
}
.shop .col-md-4 img{
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 15px;
}
.shop .col-md-4 h3, .shop .col-md-4 span{
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    border-top: 1px solid #E7E7e7;
}
.shop .col-md-4 span{
    background: rgba(200, 200, 200, 0.8);
    padding: 3.5px 10px;
    border:none;
}
/*DETAIL PRODUCT*/
.detail-img #img-back{
    display: none;
}
.detail-img-choice{
    max-height: 330px;
}
.detail-img-choice img{
    padding: 0 0 20px 0;
}
.detail-img{
    border-left: 1px solid #E7E7E7;
}
/*ABOUT*/
.about .banner{
    width: 100%;
    background: url('../img/bannerfullhouse.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    border-bottom: 2px solid #666;
}
.about .banner h1{
    font-size: 4em;
    text-align: center;
    background: #07395C;
    color: #FFF;
    opacity: 0.9;
    border: 1px solid #FFF;
}
.about .house .container{
    height: 300px;
    border: 2px solid #FFF;
    position: relative;
    background: #FFF;
}
.about .house .container .house-container{
    height: 150px;
    margin: 70px 0 0 0;
    z-index: 5;
}
.about .rotate .container{
    transform: rotate(2deg);
}
.about .rotate .container .house-container{
    transform: rotate(-2deg);
}
.about .reverse .container{
    transform: rotate(-2deg);
}
.about .reverse .container .house-container{
    transform: rotate(2deg);
}
.about .house-top{
    position: absolute;
    top: 0;
    left: 0;
    height: 295px;
    width: 100%;
    z-index: -1;
}
.about .house-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 295px;
    width: 100%;
    z-index: -2;
}
.about .dragon-house-top{
    background: url('../img/db_fire_1_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.about .dragon-house-bottom{
    background: url('../img/db_fire_small_crop_v2.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.about .raven-house-top{
    background: url('../img/reve_2_doublesmall.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.about .raven-house-bottom{
    background: url('../img/rave_1_doublesmall.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.about .serpent-house-top{
    background: url('../img/script_serpents_upper_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.about .serpent-house-bottom{
    background: url('../img/script_serpents_under_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.about .viking-house-top{
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    width: 400px;
    height: 100px;
}
.about .viking-house-top img{
    width: 100%;
    height: 100%;
}
.about .viking-house-bottom{
    background: url('../img/viking_berg_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.house-logo{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid #BBB;
    position: absolute;
    top: 45%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    background: #DDD;
}
.rotate .house-logo{
    left: 40px;
}
.reverse .house-logo{
    right: 40px;
}
.house-logo img{
    width: 100%;
}
.rotate .house-info{
    margin: 0 0 0 300px;
    opacity: 0.85;
}
.house h3, .house p, .house a{
    background: #07395C;
    color: #FFF;
}
.house a:hover{
    color: #FFF;
}
.reverse .house-info{
    text-align: right;
    opacity: 0.85;
}
.house .raven img{
    width: 150px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.house .serpent img{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.contact{
    padding: 50px 0;
}
/*FOOTER*/
footer .bg-secondary{
    background: #E7E7E7!important;
}
footer i{
    color: #666;
    font-size: 2.5em!important;
}
.cart-items .btn,
.cart-items .btn-success,
.cart-items .btn-danger,
.cart-items .btn-lg{
    color: #111;
    margin: 10px 20px;
}
.cart-items{
    color: #ccc;
}
.cart-items select{
    background: #111;
}
.cart-items .item-name a{
    color: #ccc;
    font-size: 1em;
}
.cart-items h3{
    margin: 20px 0;
    text-align: center;
}
.cart {
    height: 100%;
        width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.cart a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.cart a:hover {
    color: #f1f1f1;
}

.cart .closebtn {
    float: left;
    font-size: 4em;
    padding: 5px 0 0 20px;
    display: block;
}

.cart-title{
    text-align: center;
}
.cart-title h2{
    color: #ccc;
    padding: 40px 10px 10px 0;
}
.table td{
    height: 50px;
}
.block {
    margin: 10px;
	display: block;
    position: relative;
    width: 250px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.product {
    padding: 5px;
    display: block;
    position: relative;
}

.product img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.info {
    display: block;
    position: relative;
    padding: 20px;
}

.details {
    border-top: 1px solid #e5e5e5;
    padding: 18px 20px;
}

.buttons {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    -webkit-transition: opacity .25s ease-in;
    -ms-transition: opacity .25s ease-in;
    -moz-transition: opacity .25s ease-in;
    -o-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
}

.product:hover .buttons, .product:hover a {
    opacity: 1;
}

.buttons a {
    display: block;
    position: absolute;
    left: 50px;
    width: 155px;
    border-radius: 2px;
    padding: 15px 10px 15px 15px;
    font-family: Helvetica, sans-serif;

    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    opacity: 0;
}
.info .btn{
    margin: -30px 0 0 0;
}

a.buy {
    top: 20%;
}

a.preview {
    bottom: 20%;
}

.info::after {
    display: block;
    position: absolute;
    top: -8px;
    left: 23px;
    content: "";
    width: 15px;
    height: 15px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.info h4 {
    position: relative;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #372f2b;
    letter-spacing: -1px;
}

.info h4::after {
    display: block;
    position: absolute;
    bottom: 0px;
    content: "";
    width: 40px;
    height: 2px;
    background: #3b86c4;
}

.info .description {
    display: block;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #5f5f5f;
}

.info .price {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #372f2b;
    line-height: 26px;
}
.jumbotron {
    margin-bottom: 0;
}
.quote h2{
    color: #000000;
    font-size: 3em;
}
.quote h3{
    color: #000000;
    font-size: 2em;
}
.quote p{
    color: #000000;
    font-size: 1rem;

}
.items img {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}
.single-house{
    padding: 30px 0;
}
.single-house a{
    border-radius: 100%;
}
.single-house-logo{
    position: relative;
    background: #F7F7F7;
    width: 400px;
    border-radius: 100%;
    height: 400px;
    border: 5px solid #D2D2D2;
}
.single-house .single-house-top{
       position: absolute;
    top: 0px;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.single-house-img {
    
    position: absolute;
    z-index: 9;
    width: 70%;
    margin-left: 15%;
    margin-top: 15%;
}
.single-house .single-house-bottom{
    position: absolute;
    bottom: 0px;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.dragons-top {
    background: url('../img/db_fire_1_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    
}
.dragons-bottom {
    background: url('../img/db_fire_small_crop_v2.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;    
}
.ravens-top {
    background: url('../img/rave_2_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    
}
.ravens-bottom {
    background: url('../img/rave_1_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;  
}
.vikings-bottom {
    background: url('../img/viking_berg_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    
}
.serpents-bottom {
    background: url('../img/script_serpents_under_small_crop.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.details img{
    max-width: 100%;
    max-height: 450px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
    html,
    body{
        width: 100%;
        overflow-x: hidden;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media screen and (max-width: 1200px){
    .reverse .house-info{
        margin-right: 100px;
    }
}
@media screen and (max-width: 991px){
    .reverse .house-info{
        margin-right: 200px;
    }
    .rotate .house-info{
        margin-left: 370px;
    }
    .rotate .house-info p{
        width: 200px;
    }
}
@media screen and (max-width: 800px){
    .about .house-info h3{
        font-size: 1.5em;
    }
    .about .house-info{
        height: 180px;
    }
}