*{
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.flex-between{
    justify-content: space-between;
}

p{
    margin: 0px;
}
/* NavBar */
header .navbar {
    background-color: white;
    padding: 20px 0!important;
}

.logo  {
    width: 300px;
    height: 100px;
}

.nav-item .nav-link {
    font-size: 2em
}
/* INDEX */

.row-sizer-userinfo{
    padding: 10px 0px;
    
}

.userinfo{
    background-color: #FFFEFD;
}

.item-info {
    border: 1px solid orange;
    border-radius: 10px;
    background: white;
    padding:25px;
}
.user-info {
    border: 1px solid orange;
    border-radius: 10px;
    background: white;
    padding: 25px;
    min-height: 400px;
    margin:20px;

}
.user-info b {
    font-size: 2em;
}
.user-info span {
    font-size: 2em;
}
.img-preview-left{
    border-left: 1px solid orange;
}
.product-info{
    margin: 10px 0;
}


.indexTitle {
   text-align: center;
    background-color: #004E70;
    color: white;
    padding: 10px;
}
.img-preview{
    border-right: 1px solid orange;
    height: 150px;
    width: 150px;
}
.desc{
    padding-top: 20px;
    height: 75px;
}
.addSizer{
    padding: 50px 0;
    min-height: 600px;
}
.textSizerForm{
    padding: 20px 0;
}
/* ADD PRODUCTS */


.sizes .small-group{
    text-align: center;
    width: 50px;
}

.form-padding{
    padding-bottom: 10px;
}

.addSizer{
    padding: 50px 0;
}
.textSizerForm{
    padding: 20px 0;
}

/* PRODUCTS LIST */

.pagination{
    display: flex;
    justify-content: center;
    margin: 20px;
    position: relative;

}

.pagination li {
    padding: 5px 10px;
    margin-right: 3px;
    background: #c3c3c3;
    border-radius: 50px;
    color: white;
}

.pagination li a {
    color: black;
}

/* Footer */

footer {
    height: 40px;
    padding: 10px 0px;
    text-align: center;
    background-color: black;
}

footer p{
    color: lightgray;
    font-size: 1.5em 
}


/* show admin */

.salesHeadBlock{
    margin: 10px 0px;
    border: solid darkgrey 1px;
    border-radius: 15px;
    padding: 25px 45px;
    text-align: right;
}

